<ion-view>
  <ion-nav-bar>
    <ion-nav-title class="header_title icon-left ion-person-add" >
    ADD A CHILD
    </ion-nav-title>
    <ion-nav-back-button class="button button-icon button-clear">
      <i class="ion-ios-arrow-back"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content class="create-child-page">
    <!-- Image -->
    <div ng-show="showChildParticulars">
      <!-- Photo Buttons -->

      <div class="camera-buttons">
        <button class="button button-clear icon ion-ios-camera-outline" ng-click="launch_camera()"></button>
        <button class="button button-clear icon ion-ios-photos-outline" ng-click="launch_photo_library()"></button>
      </div>

      <!-- Image -->
      <div class="childlogo">
        <img ng-src="{{childTypeImage(childForm.gender)}}" ng-hide="childForm.photo"/>
        <img src="{{childForm.photo}}" ng-show="childForm.photo"/>
      </div>
      <div class="inputfield list">
        <label class="item item-input item-select-gender">
          <span class="input-label input-label-gender">
            <i class="icon ion-female"></i>
            <i class="icon ion-male"></i>
          </span>
          <div class="gender-selector">
            <ion-radio class = "input-gender input-font-white" ng-model="childForm.gender" value="boy">Boy</ion-radio>
            <ion-radio class = "input-gender input-font-white" ng-model="childForm.gender" value="girl">Girl</ion-radio>
          </div>
        </label>
        <label class="item item-input">
          <span class="input-label">
            <i class="icon ion-person"></i>
          </span>
          <input class="input-font-white" type="text" ng-model="childForm.name" placeholder="Enter child's name">
        </label>
        
        <label class="item item-input">
          <span class="input-label">
            <i class="fa fa-birthday-cake"></i>
          </span>
          <input class="input-font-white" type="date" ng-model="childForm.birthday" placeholder="Enter child's birthday"/>
        </label>

        <label class="item item-input">
          <span class="input-label">
            <i class="icon ion-ios-telephone"></i>
          </span>
          <input class="input-font-white" type="tel" ng-model="childForm.mobile_number" placeholder="Enter child's phone number">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="nextStep()" ng-disabled="validate_first_step()">Next</button>
        </label>
      </div>
    </div>

    <div ng-show="!showChildParticulars">

      <div style="height: 50vh; text-align: center; margin-top: 2em; color:white">
        <p>Take a photo of the QR Code on the Toucan Device, or enter it yourself.</p>
        <div style="margin: 3em; padding: 3em; border: 1px solid white; text-align:center;">
          <div style="text-align: center">
            <label style="color:white">Device Unique ID</label>
            <input type="text" name="machine_uuid" style="padding:1em;margin: 1em auto;" ng-model="childForm.machine_uuid" placeholder="e.g. 1234567890"></input>
            <button class="button button-positive icon ion-ios-camera-outline" ng-click='scan()'></button>
          </div>
        </div>
        
      </div>
      
      <div class="item">
        <button class="button button-block button-positive" ng-disabled="validate_form()" ng-click="create_child()">Register</button>
        <button class="button button-block button-assertive" ng-click="goBack()">Back</button>
      </div>
    </div>
  </ion-content>
</ion-view>

