<ion-view>
  <ion-nav-bar>
    <ion-nav-back-button class="button-clear icon ion-ios-arrow-back">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title class="header_title icon-left ion-person-add" >
    CREATE FAMILY MEMBER
  </ion-nav-title>

  <ion-content class="create-family-member-page">
    <form>
      <!-- Image -->
      <div class="list">
        <div class="camera-buttons">
          <button class="button button-clear icon ion-ios-camera-outline" ng-click="launch_camera()"></button>
          <button class="button button-clear icon ion-ios-photos-outline" ng-click="launch_photo_library()"></button>
        </div>

        <div class="parent_image">
          <img ng-src="{{parentTypeImage(parentForm.relationship)}}" ng-hide="parentForm.photo"></img>
          <img src="{{parentForm.photo}}" ng-show="parentForm.photo"/>
        </div>

        <div class="inputfield">
          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
            </span>
            <input class="input-font-white" type="text" ng-model="parentForm.name" placeholder="Enter your name">
          </label>
          <label class="item item-input item-select">
            <span class="input-label">
              <i class="icon ion-ios-heart"></i>
            </span>
            <select class="relationship-option input-font-white" type="select" ng-model="parentForm.relationship">
              <option value="mother">Mother</option>
              <option value="father">Father</option>
              <option value="grandmother">Grandmother</option>
              <option value="grandfather">Grandfather</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-ios-email"></i>
            </span>
            <input class="input-font-white" type="email" ng-model="parentForm.email" placeholder="Enter your email">
          </label>
          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-ios-telephone"></i>
            </span>
            <input class="input-font-white" type="tel" ng-model="parentForm.mobile_number" placeholder="Enter your mobile no">
          </label>
        </div>
        <label class="item">
          <button class="button button-block button-positive" ng-click="createFamilyMember()">Proceed</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
