<ion-view view-title="Create Family Member">
  <ion-content>
    <form ng-submit="nextStep()">
      <!-- Image -->
      <div class="list">
        <img src="" id="myImage"></img>
        <label class="item">
          <button class="button button-block button-positive" ng-click='takephoto()'>Take photo</button>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="parentForm.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="parentForm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Contact No.</span>
          <input type="tel" ng-model="parentForm.mobile_number">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" >Proceed</button>
        </label>
        
      </div>
    </form>
  </ion-content>
</ion-view>
