<ion-view>
  <ion-nav-title class="header_title icon-left ion-person-add" >
    ADD A CHILD
  </ion-nav-title>
  <ion-content>
    <div ng-show="showChildParticulars">
      <!-- Image -->
      <div class="childlogo">
        <img src="/img/BOY-01.png">
      </div>
      <div class="inputfield list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="childForm.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Birthday</span>
          <input type="text" ng-model="childForm.birthday" ng-focus="show_datepicker()">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="nextStep()">Next</button>
        </label>
      </div>
    </div>

    <div ng-show="!showChildParticulars">
      <label class="item">
        <button class="button button-block button-positive" ng-click='scan()'>Scan</button>
      </label>
      <label class="item">
        <button class="button button-block button-assertive" ng-click="goBack()">Back</button>
      </label>
    </div>
  </ion-content>
</ion-view>

