<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="goBack()">Back</button>
    </div>
    <h1 class="title">My Child</h1>
  </ion-header-bar>

  <ion-content class="create-child-page">
    <!-- Image -->
    <div ng-show="showChildParticulars">
      <!-- Photo Buttons -->

      <div class="camera-buttons">
        <button class="button button-clear icon ion-ios-camera-outline" ng-click="launch_camera()"></button>
        <button class="button button-clear icon ion-ios-photos-outline" ng-click="launch_photo_library()"></button>
      </div>

      <!-- Image -->
      <div class="childlogo">
        <img ng-src="{{childTypeImage(childForm.gender)}}" ng-hide="childForm.photo"/>
        <img src="{{childForm.photo}}" ng-show="childForm.photo"/>
      </div>
      <div class="inputfield list">
        <div class="item item-divider">Personal Information</div> 
        <label class="item item-select item-select-gender">
          <span class="input-label input-label-gender">Gender</span>
          <div class="gender-selector">
            <ion-radio class = "input-gender" ng-model="childForm.gender" value="boy">Boy</ion-radio>
            <ion-radio class = "input-gender" ng-model="childForm.gender" value="girl">Girl</ion-radio>
          </div>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="childForm.name">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Birthday</span>
          <input type="date" ng-model="childForm.birthday"/>
        </label>

        <label class="item item-input">
          <span class="input-label">Mobile Number</span>
          <input type="tel" ng-model="childForm.mobile_number">
        </label>
        <label class="item" style="border-bottom-color: transparent;">
          <button class="button button-block button-positive" ng-click="nextStep()" ng-disabled="validate_first_step()">Next</button>
        </label>
      </div>
    </div>

    <div ng-show="!showChildParticulars">

      <div style="height: 50vh; text-align: center; margin-top: 2em;">
        <p>Take a photo of the QR Code on the Toucan Device, or enter it yourself.</p>
        <div style="margin: 3em; padding: 3em; border: 1px solid white;">
          <div style="text-align: center">
            <label>Device Unique ID</label>
            <input type="text" name="machine_uuid" style="padding:1em;margin: 1em auto;" ng-model="childForm.machine_uuid" placeholder="e.g. 1234567890"></input>
            <button class="button button-positive icon ion-ios-camera-outline" ng-click='scan()'></button>
          </div>
        </div>
        
      </div>
      
      <div class="item">
        <button class="button button-block button-positive" ng-disabled="validate_form()" ng-click="create_child()">Register</button>
        <button class="button button-block button-assertive" ng-click="goBack()">Back</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>