<ion-view>
  <ion-nav-bar>
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title class="header_title icon-left ion-person-add" >
    CREATE FAMILY MEMBER
  </ion-nav-title>
  <ion-content class="create-family-member-page">
    <form ng-submit="createFamilyMember()">
      <!-- Image -->
      <div class="list">
        <div class="camera-buttons">
          <button class="button button-clear icon ion-ios-camera-outline" ng-click="launch_camera()"></button>
          <button class="button button-clear icon ion-ios-photos-outline" ng-click="launch_photo_library()"></button>
        </div>

        <div class="parent_image">
          <img src="img/MOM-01.png" ng-show="!parentForm.photo"></img>
          <img src="{{parentForm.photo}}" ng-show="parentForm.photo"/>
        </div>

        <div class="inputfield">
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" ng-model="parentForm.name">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="parentForm.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Contact No.</span>
            <input type="tel" ng-model="parentForm.mobile_number">
          </label>
        </div>

        <div class="proceedfield">
          <label class="item">
            <button class="button button-full button-positive" type="submit" >Proceed</button>
          </label>
        </div>
        
      </div>
    </form>
  </ion-content>
</ion-view>
