<ion-view>
  <ion-nav-title class="header_title" >
    SET EMERGENCY NUMBERS
  </ion-nav-title>
  <ion-content class="emergency-page">
    <div class="list">
      <div class="item item-divider">Mobile Numbers</div>
      <label class="item item-input">
        <span class="input-label">1</span>
        <input type="tel" ng-model="submitForm.mobile_numbers[0]">
      </label>
      <label class="item item-input">
        <span class="input-label">2</span>
        <input type="tel" ng-model="submitForm.mobile_numbers[1]">
      </label>
      <label class="item item-input">
        <span class="input-label">3</span>
        <input type="tel" ng-model="submitForm.mobile_numbers[2]">
      </label>
      <label class="item item-input">
        <span class="input-label">4</span>
        <input type="tel" ng-model="submitForm.mobile_numbers[3]">
      </label>
      <label class="item item-input">
        <span class="input-label">5</span>
        <input type="tel" ng-model="submitForm.mobile_numbers[4]">
      </label>
      <label class="item item-input">
        <span class="input-label">6</span>
        <input type="tel" ng-model="submitForm.mobile_numbers[5]">
      </label>
      <label class="item item-input">
        <span class="input-label">7</span>
        <input type="tel" ng-model="submitForm.mobile_numbers[6]">
      </label>
      <button class="button button-positive button-block" ng-click="update_mobile_numbers()">Update</button>
    </div>
  </ion-content>
</ion-view>

