<ion-view>
  <ion-nav-title class="header_title icon-left ion-android-home" >
    HOME
  </ion-nav-title>
  <ion-content class="home-page">
    <ion-list>

      <ion-slide-box on-slide-changed="slideHasChanged($index)" class="homeslidebox">
        <ion-slide class= "ionslide" ng-repeat="child in children">
          <div class="boxicon" >
            <img src = "img/BOY-01.png"/>
            <p>{{child.name}}</p>
          </div>
        </ion-slide>

        <ion-slide class= "ionslide" ui-sref="app.createChild">
          <div class="boxicon plus">
            <!-- <i class="icon ion-ios-plus-outline"></i> -->
            <img src = "img/PLUS.png" />
            <p>Add Child</p>
          </div>
        </ion-slide>
      </ion-slide-box>


      <div class="latest-activities" ng-hide="notifications.length == 0">
        <div class="latest-activities-title item-divider ion-ios-flag-outline">
          Latest Activities
        </div>
        <div class="latest-activities-contents">
            <ion-item ng-repeat="notification in notifications" class="item-icon-left item-text-wrap">
              <i class="icon clear:both;" ng-class="notificationClassType(notification.notification_type)"></i>
              {{notification.message}}
              <small style="display:block; float: right; font-size: 0.6em; clear:both;" am-time-ago="notification.created_at"></small>
            </ion-item>
        
        </div>
      </div>     

    </ion-list>
  </ion-content>
</ion-view>


          
