<ion-view view-title="Home" id="home-tab">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue"><h1>Child 1</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>Child 2</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>Add Child</h1></div>
      </ion-slide>
    </ion-slide-box>
    <h2>Latest Activities</h2>
    <ion-list>
      <ion-item>
        Notification 1
      </ion-item>
      <ion-item>
        Notification 1
      </ion-item>
      <ion-item>
        Notification 1
      </ion-item>
      <ion-item>
        Notification 1
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
