<ion-nav-bar class="bar">
</ion-nav-bar>

<ion-view view-title="Home" id="home-tab">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" style="height: 100px;">
      <ion-slide ng-repeat="child in children">
        <div class="box blue"><h1>{{child.name}}</h1></div>
      </ion-slide>
      <ion-slide ui-sref="app.createChild">
        <div class="box pink"><h1>+</h1></div>
      </ion-slide>
    </ion-slide-box>
    <h2>Latest Activities</h2>
    <ion-list>
      <ion-item ng-repeat="notification in notifications">
        Notification 1
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

