<ion-content>
	<div class="landing-content" style="">
		<div style="display: table-cell; margin:auto; text-align: center; vertical-align: middle;">
			<div style="text-align: center;">
				<img class="logo" src="img/LOGO1-01.png">

				<div class="toucan_title">
					<p> TOUCAN </p>
				</div>
				<div class="toucan_tagline">
					<p> A PEACE OF MIND WITHIN THE FAMILY </p>
				</h5>
			</div>

			<div style="padding: 2em;">
				<button class="login_button button button-block" ng-click = "login()">
					Login
				</button>
				<button class="signup_button button button-block" ng-click="register()">
					Sign up
				</button>
			</div>
		</div>
	</div>
</ion-content>
