<ion-content>
	<div class="landing-content" style="">
		<div style="display: table-cell; margin:auto; text-align: center; vertical-align: middle;">
			<div style="text-align: center;">
				<img class="logo" src="img/LOGO1-01.png">

				<h1 id="title">
					TOUCAN
				</h1>
				<h5 id="tagline">
					A PEACE OF MIND WITHIN THE FAMILY
				</h5>
			</div>

			<div style="padding: 2em;">
				<button class="login_button button button-block" ng-click = "login()">
					Login
				</button>
				<button class="signup_button button button-block" ng-click="register()">
					Sign up
				</button>
			</div>
		</div>
	</div>
</ion-content>
