<ion-content>
	<div style="margin:auto; text-align: center; margin-top: 50px;">
		<img class="logo" src="/img/LOGO1-01.png">

		<h1 id="title">
			TOUCAN
		</h1>
		<h5 id="tagline">
			A PEACE OF MIND WITHIN THE FAMILY
		</h5>
	</div>

	<div style="margin-left: 2em; margin-right: 2em; margin-top: 5em;">
		<button class="login_button button button-block " ng-click = "login()">
			Login
		</button>
		<button class="signup_button button button-block " ng-click="register()">
			Sign up
		</button>
	</div>
</ion-content>
