<ion-modal-view>
  <ion-header-bar>
    <div class="backbutton">
      <button class="button button-clear icon ion-ios-arrow-back" ng-click="closeLogin()"></button>
    </div>
    <h1 class="title">LOG IN</h1>
    
  </ion-header-bar>

  <ion-content class="login-page">
    <div style="margin:auto; text-align: center; margin-top: 50px;">
      <img class="logo" src="img/LOGO1-01.png">
      <h1 id="title">
        TOUCAN
      </h1>
      <h5 id="tagline">
        A PEACE OF MIND WITHIN THE FAMILY
      </h5>
    </div>
    <div class="inputfield">
      <form ng-submit="login()">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="loginForm.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginForm.password">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Log in</button>
          </label>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>