<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="allowSideMenu">
    <ion-nav-bar class="bar-stable">
      
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-header-bar>
      <p>Menu</p>
    </ion-header-bar>

    <ion-content> 
      <ion-list>
        <ion-item menu-close class="item-icon-left" href="#/app/home">
          <i class="icon ion-home"></i>
          HOME
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.record">
          <i class="icon ion-mic-a"></i>
          RECORD
        </ion-item>
        <!-- <ion-item menu-close class="item-icon-left" ui-sref="app.voice_log">
          <i class="icon ion-mic-a"></i>
          LOG
        </ion-item> -->
        <ion-item menu-close class="item-icon-left" ui-sref="app.map">
          <i class="icon ion-ios-location-outline"></i>
          MAP
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.ping">
          <i class="icon ion-radio-waves"></i>
          PING
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.family">
          <i class="icon ion-person-stalker"></i>
          MY FAMILY
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.profile">
          <i class="icon ion-document"></i>
          MY PROFILE
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.emergency">
          <i class="icon ion-alert"></i>
          EMERGENCY
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.settings">
          <i class="icon ion-android-settings"></i>
          SETTINGS
        </ion-item>
        <ion-item menu-close class="item-icon-left" ng-click="logout()">
          <i class="icon ion-power"></i>
          LOGOUT
        </ion-item>

      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
