<ion-view>
	<ion-nav-title class="header_title icon-left ion-radio-waves" >
    	PING
  	</ion-nav-title>
  	<ion-content class="ping-page">
      <ion-scroll direction="x" class="select-children">
        <span ng-repeat="child in children" ng-click="toggle_child(child)" style="cursor: pointer;">
          <div class="child-image" ng-class="is_selected(child)">
            <img ng-src="{{childTypeImage(child.gender)}}" ng-hide="child.photo_url">
            <img src="{{child.photo_url}}" ng-show="child.photo_url"/>
          </div>
          <small>{{child.name}}</small>
        </span>
      </ion-scroll>

      <div class="ping-colors" ng-show="show_colours">
        <div>
          <div class="one-third">
            <a class="circle ping-1" ng-click="ping(0)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-2" ng-click="ping(1)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-3" ng-click="ping(2)"></a>
          </div>
        </div>
        <div>
          <div class="one-third">
            <a class="circle ping-4" ng-click="ping(3)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-5" ng-click="ping(4)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-6" ng-click="ping(5)"></a>
          </div>
        </div>
        <div>
          <div class="one-third">
            <a class="circle ping-7" ng-click="ping(6)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-8" ng-click="ping(7)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-9" ng-click="ping(8)"></a>
          </div>
        </div>

        <p>Select a colour to send them!</p>
      
      </div>

      <div class="ping-instruction" ng-hide="show_colours">
        <p>Select the child to PING</p>
      </div>
  	</ion-content>
</ion-view>

