<ion-view>
	<ion-nav-title class="header_title icon-left ion-radio-waves" >
    	PING
  	</ion-nav-title>
  	<ion-content>
      <ion-scroll direction="x" class="select-children">
        <span ng-repeat="child in children" ng-click="toggle_child(child)" style="cursor: pointer;">
          <div class="child-image" ng-class="is_selected(child)">
            <img src="../img/BOY-01.png"/>
          </div>
          <small>{{child.name}}</small>
        </span>
      </ion-scroll>

      <div class="ping-colors" ng-show="show_colours">
        <div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(0)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(1)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(2)"></a>
          </div>
        </div>
        <div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(3)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(4)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(5)"></a>
          </div>
        </div>
        <div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(6)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(7)"></a>
          </div>
          <div class="one-third">
            <a class="circle ping-button" ng-click="ping(8)"></a>
          </div>
        </div>
      </div>

      <div class="ping-colors" ng-hide="show_colours" style="text-align: center;">
        <p>Select any of your children first to ping them</p>
      </div>
  	</ion-content>
</ion-view>

