<ion-view>
  <ion-nav-title class="header_title icon-left ion-android-home" >
    PROFILE
  </ion-nav-title>
  <ion-content>
      <form ng-submit="updateParentParticulars()">
      <!-- Image -->
      <div class="list">        
        <div class="parent_image">
          <img src="../img/MOM-01.png"></img>
        </div>
        <div class="photofield">
          <label class="item takephoto">
            <button class="button camerabutton button-full button-dark" ng-click='takephoto()'>
              <img src="../img/CAMERA.png"/>
            </button>
          </label>
        </div>
        <img src="" id="myImage"></img>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="user.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Contact No.</span>
          <input type="tel" ng-model="user.mobile_number">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" >Update</button>
        </label>
        
      </div>
    </form>
  </ion-content>
</ion-view>

