<ion-view view-title="Record Media">
  <ion-content>
    <button ng-click="start_record()" class="button">Start Record</button>
    <button ng-click="stop_record()" class="button">Stop Record</button>
    <button ng-click="play()" class="button">Play</button>
    <button ng-click="stop()" class="button">Stop</button>
    <button ng-click="release()" class="button">Release</button>
    <button ng-click="upload_record()" class="button">Upload Record</button>
    <button ng-click="captureAudio()" class="button">Capture Audio</button>
    
  </ion-content>
</ion-view>
