<ion-view>
  <ion-nav-title class="header_title icon-left ion-mic-a" >
        VOICE MESSAGE
  </ion-nav-title>

  <ion-content>
    <div class="controller_area">

      <div class ="topbuttons">
        <button class="button startstoprecord" ng-click="start_record()">
          <img src="../img/MICROPHONE-01.png"/>
        </button>
      </div>

      <div class="bottombuttons">
        <button class="button previousbutton" ng-click="stop_record()">
          <div class="control-buttons">
            <img src="../img/BACK.png"/>
          </div>
        </button>
        <button class="button playpausebutton" ng-click="play()">
          <div class="control-buttons">
            <img src="../img/PLAY.png"/>
          </div>
        </button>
        <button class="button nextbutton" ng-click="stop()">
          <div class="control-buttons">
            <img src="../img/FORWARD_2.png"/>
          </div>
        </button>
      </div>
    </div>
    <!-- button ng-click="start_record()" class="button" id="startrecord" >
      Start Record
    </button> -->
    <!-- <button ng-click="stop_record()" class="button">Stop Record</button>
    <button ng-click="play()" class="button">Play</button>
    <button ng-click="stop()" class="button">Stop</button>
    <ion-list> -->
    <div class="audio_area">
      <a class="item item-icon" ng-repeat="audio_recording in audio_recordings" ng-click="play_recording(audio_recording)">
        <i class="icon ion-chatbubble-working"></i>
        {{audio_recording.created_at}}
      </a>
    </div>
  </ion-list>
  </ion-content>
</ion-view>
