<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <!-- <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div> -->
  </ion-header-bar>
  <ion-content>
    <form ng-submit="register()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="registrationForm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registrationForm.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Password Confirmation</span>
          <input type="password" ng-model="registrationForm.passwordconfirm">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Activate Account</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>