<ion-view>
  <ion-nav-title class="header_title icon-left ion-android-settings" >
    SETTINGS
  </ion-nav-title>
  <ion-content class="settings-page">
    <ion-list>

      <div class="item item-divider">
        General Settings
      </div>
      <label class="item item-input item-select general-settings-input">
        <span class="input-label">Update Frequency of Toucan</span>
        <select class="selection-box" ng-model="settings.update_frequency" >
          <option>5 min</option>
          <option>10 min</option>
          <option>15 min</option>
          <option>20 min</option>
          <option>30 min</option>
        </select>
      </label>

      <label class="item item-input item-select general-settings-input">
        <span class="input-label">Update me when Toucan battery reaches </span>
        <select class="selection-box" ng-model="settings.battery">
          <option>5%</option>
          <option>10%</option>
          <option>15%</option>
          <option>20%</option>
        </select>
      </label>

      <div class="item item-divider">
        Device Information
      </div>
      <label class="item item-input">
        <span class="input-label">Device Serial No. </span>
        1234567890
      </label>
      <label class="item item-input">
        <span class="input-label">Device Data Usage: </span>
        10.0MB
      </label>

      <div class="item item-divider">
        App Settings
      </div>
      
      <ion-item class="update-password" menu-close href="#">
        Update Password
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>