<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="goBack()">Back</button>
    </div>
    <h1 class="title">I am...</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="updateParentParticulars()">
      <!-- Image -->
      <div class="list">        
        <label class="item">
          <button class="button button-block button-positive" ng-click='takephoto()'>Take photo</button>
        </label>
        <img src="" id="myImage"></img>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="parentForm.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Contact No.</span>
          <input type="tel" ng-model="parentForm.mobile_number">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" >Proceed</button>
        </label>
        
      </div>
    </form>
  </ion-content>
<ion-modal-view>
