<ion-header-bar>
  <div class="buttons">
    <button class="button button-clear" ng-click="goBack()">Back</button>
  </div>
  <h1 class="title">I am...</h1>
</ion-header-bar>
<ion-content class="setup-account-page">
  <!-- Image -->
  <div class="camera-buttons">
    <button class="button button-clear icon ion-ios-camera-outline" ng-click="launch_camera()"></button>
    <button class="button button-clear icon ion-ios-photos-outline" ng-click="launch_photo_library()"></button>
  </div>

  <div class="childlogo">
    <img ng-src="{{parentTypeImage(parentForm.relationship)}}" ng-hide="parentForm.photo"></img>
    <img src="{{parentForm.photo}}" ng-show="parentForm.photo"/>
  </div>

  <div class="list">        
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" ng-model="parentForm.name">
    </label>

    <label class="item item-select">
      <span class="input-label">Relationship</span>
      <select type="select" ng-model="parentForm.relationship">
        <option value="mother">Mother</option>
        <option value="father">Father</option>
        <option value="grandmother">Grandmother</option>
        <option value="grandfather">Grandfather</option>
      </select>
    </label>

    <label class="item item-input">
      <span class="input-label">Contact No.</span>
      <input type="tel" ng-model="parentForm.mobile_number">
    </label>

    <label class="item">
      <button class="button button-block button-positive" ng-click="updateParentParticulars()">Proceed</button>
    </label>
    
  </div>

</ion-content>

