<ion-modal-view>
  <ion-header-bar>
    <!-- <div class="buttons">
      <button class="button button-clear icon ion-ios-arrow-back" ng-click="goBack()"></button>
    </div> -->
    <h1 class="title">Personal Information</h1>
  </ion-header-bar>


  <ion-content class="setup-account-page">
    <form>
      <div class="list">
        <div class="camera-buttons">
          <button class="button button-clear icon ion-ios-camera-outline" ng-click="launch_camera()"></button>
          <button class="button button-clear icon ion-ios-photos-outline" ng-click="launch_photo_library()"></button>
        </div>

        <div class="parent_image" style='background-image: url("{{parentTypeImage(parentForm.relationship)}}");' ng-if="!parentForm.photo">
        </div>
        <div class="parent_image" style='background-image: url("{{parentForm.photo}}");' ng-if="parentForm.photo">
        </div>

        <div class="inputfield">
          <div class="item item-divider">
            </div>
          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
            </span>
            <input class="input-font-white" type="text" ng-model="parentForm.name" placeholder="What's your name?">
          </label>
          <label class="item item-input item-select relationship-div">
            <span class="input-label">
              <i class="icon ion-ios-heart"></i>
            </span>
            <select class="relationship-option input-font-white" type="select" ng-model="parentForm.relationship">
              <option value="mother">Mother</option>
              <option value="father">Father</option>
              <option value="grandmother">Grandmother</option>
              <option value="grandfather">Grandfather</option>
            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-ios-telephone"></i>
            </span>
            <input class="input-font-white" type="tel" ng-model="parentForm.mobile_number" placeholder="What's your phone no?">
          </label>

          <label class="item" style="background-color:transparent">
          <button class="button button-block button-positive" ng-click="updateParentParticulars()">Proceed</button>
          </label>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
