<ion-view class="voice-log-page">
  <ion-nav-title class="voice_message_title icon-left ion-mic-a">
    VOICE LOG
  </ion-nav-title>
  <ion-nav-bar class="voice-log-bar">
    <ion-nav-back-button class="button button-icon button-clear">
      <i class="ion-ios-arrow-back"></i>
    </ion-nav-back-button>
  </ion-nav-bar>


  <ion-content class="voice-page">
    <ion-scroll direction="x" class="horizontal-wide select-children">
      <span ng-repeat="child in children" ng-click="toggle_child(child)" style="cursor: pointer;">
        <div class="child-image" ng-class="is_selected(child)">
          <img ng-src="{{childTypeImage(child.gender)}}" ng-hide="child.photo_url">
          <img src="{{child.photo_url}}" ng-show="child.photo_url"/>
        </div>
        <small>{{child.name}}</small>
      </span>
    </ion-scroll>
    <div class="item item-divider">
      Voice Logs
    </div>
    <div class="audio_area">
      <a class="item item-icon" ng-repeat="audio_recording in audio_recordings" ng-click="play_recording(audio_recording)">
        <i class="icon ion-chatbubble-working"></i>
        {{audio_recording.created_at | amDateFormat:'ddd, MMMM Do YYYY, h:mm:ss a'}} 
      </a>
      <a class="item" ng-hide="show_recordings()"> No Voice Logs have been recorded yet.</p>
    </div>
  </ion-list> 
  </ion-content>
</ion-view>
