/* Empty. Add your own CSS if you like */


h1#title{
	color: white;
	margin-top: 30px;
}


h5#tagline{
	font-size: small;
	color: white;
}

.item{
	margin: auto;
	background-color: transparent;
	color:black;
	border-color: #FFF;
}

.pane {
	background-color: #B9DCD7;
}

.logo {
	max-width: 200px;
}

.home_title{
	color:white;
}

.nav-bar-block .bar{

	background-color:#A2D5D4;
}

/* ######## home.html ######## */



/* ######## menu.html ######## */
.menu .bar{
	background-color: #A2D5D4;
	padding-bottom: 4em; 
}
.menu_title{
	color:white;
	font-size: 250%;
	margin:auto;
}



/* ######## create_child.html ######## */


.childlogo {
	text-align: center;
}

.childlogo img {
	max-width:10em;
	border:3px solid black;
}

/* ######## record.html ######## */

.voice_message_title{
	color:white;
}

.controller_area{
	height:25em;
	display:block;
	margin:auto;
}

.startstoprecord{
	text-align: center;
	margin-top: 2em;
	margin-left:auto;
	margin-right:auto;
	width:18em;
	height:18em;
	border:1px solid black;
}

.startstoprecord img{
	max-width:12em;
}

.bottombuttons{
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
	width:18em;
	text-align: center;
	height:6em;
}

.previousbutton{
	display:inline-block;
	width:5em;
	height:5em;
	float:left;
}

.playpausebutton{
	display:inline-block;
	margin:auto;
	width:5em;
	height:5em;
}


.nextbutton{
	display:inline-block;
	margin:auto;
	width:5em;
	height:5em;
	float:right;
}

.audio_area{
	border:3px solid purple;
	clear:both;
}

.control-buttons {
	margin: auto;
}

.control-buttons img {
	max-width: 5em;
	max-height: 5em;
}





















