/* Empty. Add your own CSS if you like */

/* ######## landing.html ######## */
h1#title{
	color: white;
	margin-top: 30px;
}
h5#tagline{
	font-size: small;
	color: white;
}

.header_title{
	color:white;
	font-size: 1em;
}

.landing-content {
	margin-top:2em; 
	display:table; 
	width: 100%; 
	min-height: 100vh;

}

.item{
	margin: auto;
	background-color: transparent;
	color:black;
	border-color: #FFF;
}

.pane {
	background-color: #B9DCD7;
}

.logo {
	max-width: 200px;
}


.nav-bar-block .bar{
	background-color:#A2D5D4;
}

.login_button{
	background-color: #B9DCD7;
	color:white;
	border: 1px solid white;
}

.signup_button{
	background-color: #B9DCD7;
	color:white;
	border: 1px solid white;
}

/* ######## login.html ######## */
.input-label{
	background-color: #B9DCD7;
}

.inputfield{
	margin-left: 2em; 
	margin-right: 2em; 
	margin-top: 5em;
}

.inputfield .item{
	background-color: #B9DCD7;
	border:1px solid white;
}

.backbutton{
	color:white;
}
/* ######## home.html ######## */
.home_title{
	color:white;
	font-size: 1.3em;
}

.homeslidebox{
	height:15em;
}


.boxicon{
	text-align:center;
	margin: auto;
	
}

.boxicon img{
	max-width:12em;
	width: 8em;
	height: 8em;
	margin-top:2em;
	border-radius: 50%;
	border: 2px solid white;
}

.boxicon.plus img{
	padding: 2em;
}

.add_child_icon{
	max-width: 12em;
}

.item-text-wrap {
	font-size: 0.9em;
  text-overflow: inherit !important;
  white-space: normal !important;
}




/* ######## menu.html ######## */

.bar-header{
	background-color: #A2D5D4;
	border-bottom:1px solid white;
}

.menu-left .bar-header{
	height:5em;
}

.menu-left .scroll-content{
	background-color: #A2D5D4
}

.bar-header p{
	margin:auto;
	font-size: 2em;
	color:white;
	font-family: arial;
}

.item-complex .item-content, .item{
    background-color: #A2D5D4;
    border: none;
    color:white;
}

.menu-left .list{
	margin-top: 1.8em;
}





/* ######## create_child.html ######## */


.childlogo {
	text-align: center;
}

.childlogo img {
	max-width:10em;
	border:3px solid black;
	margin-top: 2em;
}

.inputfield{
	margin-left:auto;
	margin-right:auto;
}

.inputfield .item{
	background-color: #B9DCD7;
	border:1px solid white;

}


/* ######## record.html ######## */

.voice_message_title{
	color:white;
}

.topbuttons{
	text-align: center;
}

.topbuttons button{
	margin-top: 2em;
	margin-left:auto;
	margin-right:auto;
	width: 15em;
	height: 15em;
	background-color: #B9DCD7;
	border: 1px solid #FFF;
	border-radius:999px;
}

.topbuttons button img{
	max-width:8em;
}

.bottombuttons{
	margin: auto;
	margin-top:1em;
	text-align: center;
}

.bottombuttons button{
	display:inline-block;
	background-color: #B9DCD7;
	border:2px solid transparent;
	text-align: center;
}

.bottombuttons button img{
	max-width:4em;
	max-height:4em;
	padding: 1em;
}

.audio_area{
}

.control-buttons {
	margin: auto;
}

.control-buttons img {
	max-width: 5em;
	max-height: 5em;
}


/* ######## create_family_member.html ######## */

.parent_image{
	text-align: center;
	margin-top: 2em;
}

.parent_image img{
	max-width: 10em;
}

.takephoto{
	text-align: center;
	background-color: #B9DCD7;
	margin-left: auto;
}

.photofield .item button{
	width:6em;
	height:6em;
	border-radius: 50%;
	margin:auto;
}


.photofield .item button img{
	max-width:3em;
	margin-top:1em;
}

.proceedfield  .item{
	background-color: #B9DCD7;
}



/* ######## map.html ######## */

/* ######## voice_log.html ########*/


.button-clear {
	color: white !important;
}

/* ######## ping.html ########*/

.circle {
	border-radius: 999px;
	display: inline-block;
	border:1px solid white;
}

.ping-1 {
	width: 6em;
	height: 6em;
	background-color: #FFB6C1;
	cursor: pointer;
}

.ping-2 {
	width: 6em;
	height: 6em;
	background-color: #87CEFA;
	cursor: pointer;
}

.ping-3 {
	width: 6em;
	height: 6em;
	background-color: #BA55D3;
	cursor: pointer;
}

.ping-4 {
	width: 6em;
	height: 6em;
	background-color: #FFA07A;
	cursor: pointer;
}

.ping-5 {
	width: 6em;
	height: 6em;
	background-color: #90EE90;
	cursor: pointer;
}

.ping-6 {
	width: 6em;
	height: 6em;
	background-color: #FFD700;
	cursor: pointer;
}

.ping-7 {
	width: 6em;
	height: 6em;
	background-color: #00CED1;
	cursor: pointer;
}

.ping-8 {
	width: 6em;
	height: 6em;
	background-color: #C71585;
	cursor: pointer;
}

.ping-9 {
	width: 6em;
	height: 6em;
	background-color: #7B68EE;
	cursor: pointer;
}


.child-image {
	width: 6em;
	height: 6em;
}

.child-image img {
	width: 4em;
	height: 4em;
	margin: auto;
	margin-top: 1em;
}

.child-not-selected {
	border: 1px solid #FFF;
	border-radius:999px;
}

.child-selected {
	border-radius:999px;
	border: 2px solid #FFA07A;
	box-shadow: 0 0 1em 0.5em #FFA07A;
}

.select-children {
	padding: 2em;
	text-align: center;
}

.select-children span {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.select-children span small {
	color: white;
}

.ping-colors {
	text-align: center;
}

.ping-colors p {
	color: white;
}

.ping-instruction{
	font-size: 2em;
	text-align: center;
	color:white;
}

.ping-colors div {
	margin-bottom: 1em;
	margin-top: 1em;
	height: 7em;
}

.one-third {
	width:30%;
	display: inline-block;
	text-align: center;
}


/*family.html*/

.horizontal-wide {
  overflow: scroll;
  white-space: nowrap;
}

.inline {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}

.family-children, .family-members {
	padding-top: 2;
	height: 30vh;
	text-align: center;
}

.word-center {
	text-align: center
}

.camera-buttons {
	text-align: center;

}

/*settings.html*/
.settings-page{
	background-color: #B9DCD7;
}

.settings-page .item-divider{
	background-color: transparent;
	border-bottom: 1px solid white;
	font-size: 1.5em;
}


.settings-page .item-input{
	background-color: transparent;
}

.settings-page .input-label{
	background-color: transparent;
	color:gray;
}

select{
	background-color: transparent;
}

.settings-page .item-input .selection-box {
	background: transparent;
}

.settings-page .update-password {
	background-color: transparent;
	color:gray;
}











